<div class="row">
  <div class="col-9">
    <table class="sortable table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Followed by</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td>$<%= Stock.new_lookup(stock.ticker).last_price %></td>
            <td><%= pluralize(stock.users.count, 'user') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>